div{
    background-color: lightgreen;
    width: 90px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;     
}

#box3{
    left: 0px;   /* if this is left = 0px and if there is position absolute then this will be positioned with respect to wrapper class as it is postion relative and agar hamne wrapper class m position relative nahi di hoti then this will positioned with respect to body  */ 

    /* left: 30px;  */
    /* position: relative;   */
    position: absolute;
    top:90px;
    /* top: 930px; */
}

/* #box2{
    position: relative;
    top: 10px;
} */

.wrapper{
    height: 900px;
    background-color: bisque;
    width: 90vw;
    position: relative; 
    /* top: 80px;
    left: 100px; */

}


#box4{
    position: sticky;
    /* top: 20px; */
    /* top: 5000px; with respect to parent and parent ke andar hi rahega chaiye top se wrapper(parent) class ka actual size(height) 1000px ho  */ 
    /* important  */
}

#box1{
    /* position: fixed;   */
    /* top: 50px; */
    /* important agrr box1 ki position fixed kar di to box1 ke piche box2 aa gayega  */
} 
